<div class="card card-body">
    <h2>
        Update Profile
    </h2>
    <div *ngIf="alert" class="alert alert-success" role="alert">
        Profile updated successfully
    </div>
    <form [formGroup]="updateProfile"> 
        <div class="row">
            <div class="form-group col-lg-6 col-md-12 mb-2">
                <label class="form-label" for="name">Name*</label>
                <div class="input-group">
                    <input type="text" name="name" id="name" formControlName="name" [(ngModel)]="register.name"
                        class="form-control">
                </div>
                <small *ngIf="name.invalid && name.touched" class="text-danger">Enter valid name in alphabets </small>
            </div>
            <div class="form-group col-lg-6 col-md-12 mb-2">
                <label class="form-label" for="email">Email</label>
                <div class="input-group">
                    <input type="text" name="email" id="email" formControlName="email" [(ngModel)]="register.user.email"
                        class="form-control" readonly>
                </div>
                <small *ngIf="name.invalid && name.touched" class="text-danger"></small>
            </div>
            <div class="form-group col-lg-12 mb-2">
                <label class="form-label" for="address">Address*</label>
                <div class="input-group">
                    <input type="text" name="address" id="address" formControlName="address"
                        [(ngModel)]="register.address" class="form-control">
                </div>
                <small *ngIf="address.invalid && address.touched" class="text-danger">Enter valid address</small>
            </div>
            <div class="form-group col-lg-4 col-md-6 mb-2">
                <label class="form-label" for="mobile">Mobile No*</label>
                <div class="input-group">
                    <input type="text" name="mobile" id="mobile" formControlName="mobile" [(ngModel)]="register.mobile"
                        class="form-control">
                </div>
                <small *ngIf="mobile.invalid && mobile.touched" class="text-danger">Enter valid 10 digit mobile no.</small>
            </div>
            <div class="form-group col-lg-4 col-md-6 mb-2">
                <label class="form-label" for="licenseNumber">License No*</label>
                <div class="input-group">
                    <input type="text" name="licenceNumber" id="licenceNumber" formControlName="licenceNumber"
                        [(ngModel)]="register.licenceNumber" class="form-control">
                </div>
                <small *ngIf="licenceNumber.invalid && licenceNumber.touched" class="text-danger">Enter valid license no.
                </small>
            </div>
            <div class="form-group col-lg-4 col-md-6 mb-2">
                <label class="form-label" for="aadharNumber">Aadhar No*</label>
                <div class="input-group">
                    <input type="text" name="aadharNumber" id="aadharNumber" formControlName="aadharNumber"
                        [(ngModel)]="register.aadharNumber" class="form-control">
                </div>
                <small *ngIf="aadharNumber.invalid && aadharNumber.touched" class="text-danger">Enter valid 12 digit aadhar no.
                </small>
            </div>
            <br>
            <small *ngIf="!updateProfile.valid" class="text-danger">* fields are mandatory</small>
            <div class="form-group">
                <input type="button" [disabled]="!updateProfile.valid" value="Update" class="btn btn-primary"
                    (click)="updateOwner()">
            </div>
        </div>
    </form>
</div>