<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CPS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='login'>Login</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loginAuthService.isOwnerLoggedIn" class="nav-link" routerLink='ride-owner-preferences'>Preferences</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loginAuthService.isOwnerLoggedIn" class="nav-link" routerLink='publish-trip'>Publish Trip</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loginAuthService.isPassengerLoggedIn" class="nav-link" routerLink='search-trip'>Search Trip</a>
          </li>
          <li class="nav-item">

            
            <a *ngIf="loginAuthService.isPassengerLoggedIn" class="nav-link" routerLink='book-ride'>Book Ride</a>

          </li>
          <li class="nav-item">
            <a *ngIf="loginAuthService.isAdminLoggedIn" class="nav-link" routerLink='approve-ride-owner'>Approve</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loginAuthService.isAdminLoggedIn" class="nav-link" routerLink='view-ride-owners'>Ride Owners</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loginAuthService.isAdminLoggedIn" class="nav-link" routerLink='view-passengers'>Passengers</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Signup
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"  routerLink='passenger-signup'>Passenger</a></li>
              <li><a class="dropdown-item"  routerLink='ride-owner-signup'>Ride Owner</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a *ngIf="loginAuthService.isOwnerLoggedIn||loginAuthService.isPassengerLoggedIn"class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Max Verstappen
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a *ngIf="loginAuthService.isPassengerLoggedIn" class="dropdown-item"  routerLink='passenger-change-password'>Update Password</a></li>
              <li><a *ngIf="loginAuthService.isOwnerLoggedIn" class="dropdown-item"  routerLink='ride-owner-update-profile'>Update Profile</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a *ngIf="loginAuthService.isAdminLoggedIn" (click)="adminlogout()" class="nav-link" routerLink='login'>Logout</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loginAuthService.isOwnerLoggedIn" (click)="ownerlogout()" class="nav-link" routerLink='login'>Logout</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loginAuthService.isPassengerLoggedIn" (click)="passengerlogout()" class="nav-link" routerLink='login'>Logout</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>