<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CPS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == ''" class="nav-link" routerLink='login'>Login</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'owner'" class="nav-link"
            routerLink='ride-owner-preferences'>Preferences</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'owner'" class="nav-link" routerLink='publish-trip'>
            Trips</a>
          <!-- we have to change -->
        </li>
        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'passenger'" class="nav-link" routerLink='search-trip'>Search
            Trip</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'passenger'" class="nav-link" routerLink='book-ride'>Booked
            Rides</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'admin'" class="nav-link"
            routerLink='approve-ride-owner'>Approve</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'admin'" class="nav-link" routerLink='view-ride-owners'>Ride
            Owners</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'admin'" class="nav-link"
            routerLink='view-passengers'>Passengers</a>
        </li>

        <li class="nav-item dropdown">
          <a *ngIf="loginAuthService.loggedInUser.role == ''" class="nav-link dropdown-toggle" href="#"
            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Signup
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink='passenger-signup'>Passenger</a></li>
            <li><a class="dropdown-item" routerLink='ride-owner-signup'>Ride Owner</a></li>
          </ul>
        </li>


        <!-- <li><a *ngIf="loginAuthService.loggedInUser.role == 'owner'" class="nav-link"
            routerLink='owner-notifications'>Notifications</a>
        </li> -->

        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'owner'" class="nav-link" routerLink='owner-notifications'>
            Notifications
            <span class="badge bg-danger rounded-circle" *ngIf="count>0">{{count}}</span>
          </a>
        </li>



        <li><a *ngIf="loginAuthService.loggedInUser.role == 'passenger'" class="nav-link"
            routerLink='passenger-notifications'>Notifications</a>
        </li>

        <!-- <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'admin'" class="nav-link" routerLink='admin-cancel-ride'>
            Cancel Ride</a>
        </li> -->

        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role == 'admin'" class="nav-link" routerLink='admin-view-rides'>
            Rides</a>
        </li>

        <li><a *ngIf="loginAuthService.loggedInUser.role == 'passenger'" class="nav-link"
            routerLink='passenger-review-rate'>Review & Rating</a>
        </li>


        <li class="nav-item">
          <a *ngIf="loginAuthService.loggedInUser.role != ''" (click)="logout()" class="nav-link"
            routerLink='login'>Logout</a>
        </li>

        <li class="nav-item dropdown">
          <a *ngIf="loginAuthService.loggedInUser.role == 'owner' ||loginAuthService.loggedInUser.role == 'passenger'"
            class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="material-icons-outlined">
              <i class="material-icons person">person</i>
            </span>

          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a
                *ngIf="loginAuthService.loggedInUser.role == 'passenger' || loginAuthService.loggedInUser.role == 'owner'"
                class="dropdown-item" href="#">{{loginAuthService.loggedInUser.email}}</a>
            </li>

            <li><a *ngIf="loginAuthService.loggedInUser.role == 'passenger'" class="dropdown-item"
                routerLink='passenger-change-password'>Update Password</a>
            </li>

            <li><a *ngIf="loginAuthService.loggedInUser.role == 'passenger'" class="dropdown-item"
                routerLink='passenger-rating'>My Ratings</a>
            </li>


            <li><a *ngIf="loginAuthService.loggedInUser.role == 'owner'" class="dropdown-item"
                routerLink='ride-owner-update-profile'>Update Profile</a>
            </li>

            <li><a *ngIf="loginAuthService.loggedInUser.role == 'owner'" class="dropdown-item"
                routerLink='owner-view-ratings'>My Ratings</a>
            </li>

            <li><a *ngIf="loginAuthService.loggedInUser.role == 'owner'" class="dropdown-item"
                routerLink='edit-cancel-trip-owner'>Edit/Cancel Trip</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>