<h2> Update Password</h2>


<div class="row">

<div class="col-md-6">


         <form [formGroup]="updatepassword" class="row g-3" >
          <div class="alert alert-danger" *ngIf="(fail)"> Incorrect Old Password</div>
          <div class="alert alert-success" *ngIf="(success)"> Password Updated Successfully.</div>

            <div class="col-md-12">
              <label for="oldPassword" class="form-label">Old Password</label>
              <input type="password" class="form-control" id="oldPassword" [(ngModel)]="user.password" formControlName="password">
              <small *ngIf="password.invalid && password.touched" class="text-danger">Password is Mandatory</small>

            </div>
            <div class="col-md-6">
              <label for="newPassword" class="form-label">New Password</label>
              <input type="password" class="form-control" id="newPassword" [(ngModel)]="np" formControlName="np1">
              <div class="text-danger">
                <ng-container *ngFor="let error of error_messages.np1">
                  <div class="error-message" *ngIf="updatepassword.get('np1').hasError(error.type) && (updatepassword.get('np1').dirty || updatepassword.get('np1').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>

              
            </div>
            <div class="col-md-6">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="np2">
              <div class="text-danger">
                <ng-container *ngFor="let error of error_messages.np2">
                  <div class="error-message" *ngIf="updatepassword.get('np2').hasError(error.type) && (updatepassword.get('np2').dirty || updatepassword.get('np2').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>

              



            </div>
            <div class="col-12">

              <Button class="btn btn-primary" (click)="onSubmit()" >Change Password</Button>
            </div>
 </form>
    </div>
    </div>


