<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" *ngFor= "let trip of trips">
            <div class="card mt-3">
                <div class="card-header d-flex align-items-center">
                    <h6 class="card-title me-auto">Trip Id: {{trip.id}}</h6>
                    <span class="badge bg-primary">{{trip.status}}</span>
                </div>
                <div class="card-body p-2 m-0">
                    <span class="price">&#8377;{{trip.price}}</span>
                    <span class="passengers ">{{trip.numberOfPassengers}}<img src="https://cdn-icons-png.flaticon.com/512/2052/2052398.png" alt="https://cdn-icons-png.flaticon.com/512/2052/2052372.png" style="width: 20px;"></span>
                    <div class="d-flex">
                        <div class="date d-flex align-items-center justify-content-center flex-column">
                            <span class="date-day">{{trip.date | date: 'dd'}}</span>
                            <span class="date-month">{{trip.date | date: 'MMM'}}</span>
                        </div>
                        <div class="tirp ms-2">
                            <h6 class=""><i class="fa fa-map-marker mx-1" aria-hidden="true"></i>{{trip.origin}}
                                <section><i class="fa fa-ellipsis-v ms-2" aria-hidden="true"></i></section>
                                <section><i class="fa fa-map-marker mx-1" aria-hidden="true"></i>{{trip.destination}}</section>
                            </h6>
                            <p class="m-0">{{trip.departureTime}} Hrs</p>
                        </div>
                    </div>
                    <div class="ratings">
                        <table class="table table-borderless">
                            <tr *ngFor="let tb of trip.tripBookingList">
                                <td class="details">{{tb.passenger.name}}</td>
                                <td class="details" *ngIf = "trip.id != currentId">{{tb.seatsBooked}}
                                    <img class="p-1"
                                    src="https://cdn-icons-png.flaticon.com/512/2052/2052398.png"
                                    alt="https://cdn-icons-png.flaticon.com/512/2052/2052372.png"
                                    style="width: 30px;">
                                </td>
                                <td>
                                    <ngb-rating [max]="5" *ngIf = "trip.id == currentId" [(rate)]="tb.ownerRatingPassenger" [(ngModel)]="tb.ownerRatingPassenger" (click) = "postRatings(trip, tb)" [readonly]="false">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                </td>
                            </tr>
                        </table>
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-sm btn-primary" (click)="showRatings(trip.id)">Ratings</button>
                            <button class="btn btn-sm btn-info" (click) = "editTrip(trip.id)">Edit</button>
                            <button class="btn btn-sm btn-warning" (click) = "cancelTrip(trip.id)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
