<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" *ngFor= "let trip of trips">
            <div class="card mt-3">
                <div class="card-header d-flex align-items-center">
                    <h6 class="card-title me-auto">Trip Id: {{trip.id}}</h6>
                    <span class="badge bg-primary">{{trip.status}}</span>
                </div>
                <div class="card-body p-3">
                    <span class="price">&#8377;{{trip.price}}</span>
                    <span class="passengers ">{{trip.numberOfPassengers}}</span>
                    <div class="d-flex">
                        <div class="date d-flex align-items-center justify-content-center flex-column">
                            <span class="date-day">{{trip.date | date: 'dd'}}</span>
                            <span class="date-month">{{trip.date | date: 'MMM'}}</span>
                        </div>
                        <div class="tirp ms-3">
                            <h6 class="">{{trip.origin}} -------> {{trip.destination}}</h6>
                            <p class="m-0">{{trip.departureTime}} Hrs</p>
                        </div>
                    </div>
                    <div class="ratings">
                        <table class="table table-borderless">
                            <tr *ngFor="let tb of trip.tripBookingList">
                                <td class="details">{{tb.passenger.name}}</td>
                                <td class="details" *ngIf = "trip.id != currentId">{{tb.seatsBooked}}</td>
                                <td>
                                    <ngb-rating [max]="5" *ngIf = "trip.id == currentId" [(rate)]="tb.rating" [(ngModel)]="tb.rating" (click) = "postRatings(trip, tb)" [readonly]="false">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                </td>
                            </tr>
                        </table>
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-primary" (click)="showRatings(trip.id)">Ratings</button>
                            <button class="btn btn-info" (click) = "editTrip(trip.id)">Edit</button>
                            <button class="btn btn-warning"(click) = "cancelTrip(trip.id)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
