.btn{
    width: 100px;
}

.card {
    width: auto;
    max-width: 400px;
    word-wrap: break-word;
    margin-top: 10px;
}

.address, .documents {
    min-height: 52.8px;
}

.card-body {
    padding-top: 0;
}

.p-2 {
    min-height: 140px;
}