.csi{
    text-align: center;
       
        height: 800px;
        background-position: center;
        background-size: cover;
        font-size: xx-large;
}

.d{
    text-align: center;
}

h3{
    font-size: larger;
}