.unselected{
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}
.unselected:hover{
    font-size: 2rem;
    color: #00ff00;
    cursor: pointer;
}
.selected{
    font-size: 2rem;
    color: #00ff00;
    cursor: pointer;
}
.card{
    max-width: 330px;
    margin-bottom: 1rem;
    

}










